<div id="aboutme" class="color blue">
  <!--start: Container -->
  <div class="container">
    <!--start: Wrapper -->
    <div class="wrapper span12">
      <!-- start: Page Title -->
      <div id="page-title">
        <div id="page-title-inner">
          <h2><span>Who I Am</span></h2>
        </div>
      </div>
    </div>
    <!-- end: Page Title -->

    <!--start: Row -->
    <div class="row-fluid">
      <div class="span12">
        <!-- start: About Us -->
        <div id="story" class="position">
          <h3>About Me</h3>
          <p>A Freckled and Frivolous Cake</p>
          <p>There was</p>
          <p>Who sailed on a pointless sea,</p>
          <p>Or any lugubrious lake</p>
          <p>There was,</p>
          <p>In a Manner emphatic and Free.</p>

          <p>How jointlessly and how jointlessly</p>
          <p>The Frivolous Cake sailed by.</p>
          <p>Over the waves of the Ocean,</p>
          <p>That pointlessly threw fish</p>
          <p>To the lilac Sky.</p>
        </div>
      </div>
    </div>
  </div>
</div>
