<div id="home">
  <div class="demo-1">

    <div id="slider" class="sl-slider-wrapper">

      <div class="sl-slider">

        <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
          <div class="sl-slide-inner">
            <div class="deco"><img src="hair.png"></div>
              <h2>My name is Colette</h2>
            </div>
          </div>

          <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
              <div class="deco"><img src="profphoto2.jpg"></div>

              <h2>Let's Talk About The Future.</h2>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /sl-slider -->

    <nav id="nav-arrows" class="nav-arrows">
      <span class="nav-arrow-prev">Previous</span>
        <span class="nav-arrow-next">Next</span>
        </nav>

      </div>
      <!-- /slider-wrapper -->
    </div>

  </div>
  <!-- end: 1st Page - Home -->
