<div id="rlp" class="color green">
  <!--start: Container -->
  <div class="container">
    <!--start: Wrapper -->
    <div class="wrapper span12">
      <!-- start: Page Title -->
      <div id="page-title">
        <div id="page-title-inner">
          <h2><span>Read/Learn/Play</span></h2>
        </div>
      </div>
    </div>
    <!-- end: Page Title -->
    <!-- start: Row -->
    <div class="row-fluid">

      <div class="span4">
        <div class="icons-box">
          <div class="icon-surround">
          <a href="https://www.goodreads.com/user/show/10306727-colette-taylor" class="book">
          <img src="book.png"></a></div>
          <h3>Read</h3>
          <p>
            Click here to see my latest book I'm reading on GoodReads, and see what I recommend for programmers, new and experienced, and dreamers.
          </p>
          <div class="clearfix">
          </div>
        </div>
      </div>

      <div class="span4">
        <div class="icons-box">
          <i class="fa-icon-thumbs-up"></i>
          <h3>Learn</h3>
          <p>
            Find out what I learned most recently. I truly believe that you are not truly alive unless you strive to learn a new thing every day.
          </p>
          <div class="clearfix">
          </div>
        </div>
      </div>

      <div class="span4">
        <div class="icons-box">
          <i class="fa-icon-heart-empty"></i>
          <h3>Play</h3>
          <p>
            Music, adventures, board anf video games, conferences, and cons, and how to never be that angry person who you're always avoiding.
          </p>
          <div class="clearfix">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Row -->
</div>
